* {
  margin: 0;
}

html{
  overflow: hidden;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  background: radial-gradient(black, rgb(46, 80, 82) 99%);
}

#tinytron { /*opposite of jumbotron*/
  position: absolute;
  width: 80vh; /*same as viewport*/
  transform: translate(-50%, -50%);
  top: 5%;
  left: 50%;
  display: flex;
  justify-content: space-around;
}

#score {
  color: white;
  font-size: 2.5vmax;
  text-shadow: 0 0 2px yellow;
}

#time {
  color: white;
  font-size: 2.5vmax;
  text-shadow: 0 0 2px yellow;
}
#viewport {
  position: relative;
  width: 80vh;
  height: 80vh;
  border: 1vh inset rgba(128, 128, 128, 0.753);
  background-color: black;
  overflow: hidden;
}
#head {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(199, 0, 199);
  height: 5%;
  width: 5%;
  border: 1px solid rgb(218, 171, 255);
  /* border-radius: 50%; */
}

#tail {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: rgb(155, 0, 155);
  height: 5%;
  width: 5%;
  /* border-radius: 50%; */
}

#food {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 255, 55);
  height: 5%;
  width: 5%;
  /* border-radius: 50%; */
}

#arrows-container,
#buttons-container {
  position: relative;
  width: 45vmin;
  height: 45vmin;
  border: outset 0.75vh rgba(128, 128, 128, 0.25);
  border-radius: 40%;
  background: radial-gradient(#00000000, rgba(0, 0, 0, 0.192));
}
#buttons-container {
  height: 30vmin;
  /* border: none; */
  /* background: #00000000; */
}

button {
  font-size: 5vmin;
  color: #00000060;
  border: 0.5vmin outset rgba(248, 248, 248, 0.185);
  background: rgba(61, 104, 105, 0.418);
  touch-action: manipulation;
  /* disables double tap zoom */
  position: absolute;
  font-weight: bold;
  height: 16.5vmin;
  width: 16.5vmin;
  border-radius: 35%;
  /* transition: all 1s ease; */
}
button:hover{
  border: 0.35vh outset rgba(248, 248, 248, 0.185);
  background: rgba(54, 94, 94, 0.418);
}
button:active {
  border: 0.45vh inset rgba(248, 248, 248, 0.185);
  background: rgba(45, 78, 78, 0.418);
  color: #ffffff31;
  text-shadow: 0px 0px 20px rgb(0, 255, 170);
  outline: none;
}

#back-btn {
  font-size: 3vmin;
  height: fit-content;
  width: fit-content;
  color: rgba(255, 255, 255, 0.5);
  border: .5vmin inset rgba(255, 255, 255, 0.431);
  position: absolute;
  top: 2%;
  left: 1%;
}

#btn-up {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
#btn-down {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
#btn-left {
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
#btn-right {
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

#btn-A,
#btn-B {
  height: 17vmin;
  width: 17vmin;
  position: absolute;
  font-weight: bold;
  border-radius: 50%;
}
#btn-A {
  left: 10%;
  top: 60%;
  transform: translate(0, -50%);
}
#btn-B {
  right: 10%;
  top: 40%;
  transform: translate(0, -50%);
}

@media (min-width: 0) {
  /* this is the same as not using a media query... */
  #eisle{
    flex-wrap: wrap;
    height: 100vh;
    border-radius: 0;
    justify-content: center;
    flex-wrap: wrap;
  }
  #viewport{
    width: 80vmin;
    height: 80vmin;
  }
  #arrows-container,
  #buttons-container {
  position: relative;
  width: 45vmin;
  height: 45vmin;
  border: outset 0.75vh rgba(128, 128, 128, 0.25);
  border-radius: 40%;
  background: radial-gradient(#00000000, rgba(0, 0, 0, 0.192));
  }
  #viewport-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: fit-content;
    z-index: 0;
  }
  #buttons-container-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

/* 2 */
@media (min-width: 600px) and (orientation:landscape) {
  #eisle {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    border: 0.5vh solid rgba(128, 128, 128, 0.753);
    border-radius: 25%;
    background: radial-gradient(black, rgb(53, 92, 94) 30%);
  }
  #viewport-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: fit-content;
    z-index: 0;
  }
  #buttons-container-container {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
  }
}